.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px;

  background: rgb(69, 67, 67);
  color: aliceblue;
  border-radius: 10px;
  font-size:x-large;
}
.word {
  color: white;
  font-weight: bold;
  text-transform: lowercase;
}
.word::first-letter {
  text-transform: uppercase;
}
.pronounce::first-letter {
  color: white;
  font-size: x-large;
}
