.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  background: rgb(69, 67, 67);
  color: aliceblue;
  border-radius: 5px;
  font-size: x-large;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.438));
}
.icon {
  background: rgb(28, 28, 28);
  height: 45px;
  width: 45px;
  padding: 0px 10px;
}
.primary_color{
  color: white;
}
.word {
  font-weight: bold;
  text-transform: lowercase;
}
.pronounce::first-letter {
  font-size: x-large;
  font-weight: 200;
}
